{% load static %}

<div class='border-b w-full flex justify-center bg-black'>
    <div class='w-full flex items-center justify-between max-w-[1400px] py-2'>
        <a 
            href="/"
            class='flex gap-2 items-center'
        >
            <img 
                src={% static "/images/RM2.png" %}
                alt="logo"
                class='w-12 h-12'
            >
            <img 
                src={% static "/images/RM.png" %}
                alt=""
                class="h-8"
            >
        </a>
        <div>
            content
        </div>
    </div>
</div>